body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #FFA500;
}

.container {
    text-align: center;
    padding: 50px;
}

header, main, footer {
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
}

footer {
    font-size: 0.8em;
}
