
body{

    background-color: black;
    color: white;

}

#page{

    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
}
#header{

    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 80%;
    right: 0%;

}

#title{


    text-decoration: underline;
    font-size: 4em;
    color: #A9D0F5;
    position: absolute;
    left: 20%;
    top: 10%;

}

#middle{

    right: 0%;
    left: 0%;
    top: 20%;
    bottom: 35%;

}

#content{

    position: absolute;
    top: 10%;
    left: 30%;
    right: 20%;
    bottom: 10%;

}



#texte{

    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
    color: red;
    position: absolute;
    left: 15%;
    top: 35%;
    text-align: center;
    font-family:verdana, sans-serif;
    font-size: 2em;


}

#footer{

    position: absolute;
    top: 65%;
    bottom: 0%;
    left: 0%;
    right: 0%;

}

#credit {

    display: flex;
    width: 50vw;
    position: absolute;
    bottom: 10%;
    left: 31%;
    right: 10%;
    font-size: 3em;
    letter-spacing: .3em;
    font-family:"palatino linotype", palatino, serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left,green, blue);
}

#menu{

    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
    text-decoration: none;

}

#lien{

    text-decoration: none;
    color: tomato;
    font-size: 1.5em;


}