/* Reset des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.logo img {
    height: 50px;
    width: auto;
}

.nav {
    margin-left: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.connexion {
    margin-left: auto;
}

.btn {
    background-color: #ffa31a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffa31a;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #3333;
    border-radius: 4px;
}

#editConfigModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #333;
}

#userTable th,
#userTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #333;
}

#userTable th {
    background-color: #ffa31a;
    color: #fff;
}

#userTable tbody tr:nth-child(even) {
    background-color: #1a1a1a;
}

#userTable tbody tr:hover {
    background-color: #2a2a2a;
}



@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    
    .nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .connexion {
        text-align: center;
        margin-left: 0;
    }
}

.btnEdit{
    color: #ffffff; /* Texte blanc */
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
}

.btnEdit:hover{
    color: #ffa31a; 
    background-color: #ffffff;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #333;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

input:disabled {
    background-color: #f0f0f0; /* Couleur de fond pour les champs désactivés */
    color: #a0a0a0;           /* Couleur du texte pour les champs désactivés */
    border: 1px solid #ccc;   /* Bordure pour les champs désactivés */
    cursor: not-allowed;      /* Curseur indiquant que le champ est désactivé */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form button[type="submit"] {
    background-color: #ffa31a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

form button[type="submit"]:hover {
    background-color: #e59400;
}

/* Styles pour le tableau des configurations */
#configTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #333;
    margin-top: 20px; /* Ajoute un espace entre les deux tableaux */
}

#configTable th,
#configTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #fff; /* Couleur du texte */
}

#configTable th {
    background-color: #ffa31a; /* Couleur de fond pour les en-têtes */
}

#configTable tbody tr:nth-child(even) {
    background-color: #1a1a1a; /* Couleur de fond pour les lignes paires */
}

#configTable tbody tr:hover {
    background-color: #2a2a2a; /* Couleur de fond au survol */
}

/* Bouton Modifier pour les configurations */
#configTable .btnEdit {
    color: #ffffff; /* Texte blanc */
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.2em;
}

#configTable .btnEdit:hover {
    color: #ffa31a; /* Texte orange au survol */
    background-color: #ffffff; /* Fond blanc au survol */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    
    .nav a {
        margin-right: 0;
        margin-bottom: 10px;
    }
    
    .connexion {
        text-align: center;
        margin-left: 0;
    }

    main {
        width: 90%;
    }
}

/* Boutons de basculement */
.toggle-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.toggle-buttons button {
    background-color: #ffa31a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-buttons button:hover {
    background-color: #e59400;
}

.toggle-buttons .active {
    background-color: #333;
    color: #ffa31a;
}

#userTable,
#configTable {
    display: none; /* Hide tables initially */
}


/* Afficher les éléments quand la classe show est ajoutée */
#userTable.show,
#configTable.show,
#searchInput.show {
    display: block;
}