body,
html {
    margin: 0;
    padding: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(206, 206, 206);
}

.header {
    top: 0;
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: black;
    display: flex;
    z-index: 15;
}

.box-header {
    flex: 1;
}

.basic-inner {
    height: 50px;
}

.left-header,
.middle-header,
.right-header {
    flex: 0.25;
}

.header-btn {
    text-decoration: none;
    justify-content: center;
    display: flex;
}

.textbox {
    font-family: sans-serif;
    color: white;
    user-select: none;
}

.header-btn:visited {
    text-decoration: none;
    color: inherit;
}

.header-btn:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(41, 39, 39);
    transition: 0.3s ease;
}

.main-content {
    display: block;
    position: absolute;
    right: 0;
    margin-top: 50px;
    padding-bottom: 35px;
    width: 100vw;
    background-color: rgb(206, 206, 206);
}

.message-bar {
    justify-content: center;
    position: fixed;
    bottom: 0;
    display: flex;
    bottom: 0;
    background-color: black;
    width: 100vw;
    height: 30px;
}

.message-input {
    display: flex;
    width: 70vw;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    border: none;
    border-radius: 2px;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
    outline-width: 0;
}

#message-input:hover {
    width: 80vw;
    transition: 0.4s;
    overflow: hidden;
    outline-width: 0;
}

.message-input-hover {
    width: 80vw;
    display: flex;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    border: none;
    border-radius: 2px;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
    outline-width: 0;
}

.inner-message-bar {
    display: block;
    width: 20vw;
}

.inner-reduce-input {
    width: 10vw;
    display: block;
    transition: 0.4s;
}

#send-msg {
    width: 10vw;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    border: none;
    border-radius: 2px;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
    outline-width: 0;
}

#send-msg:hover {
    transition: 0.4s;
    background-color: green;
    width: 12vw;
    overflow: hidden;
    outline-width: 0;
}

.inner-reduce-send {
    width: 18vw;
    display: block;
    transition: 0.4s;
}

.black-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.637);
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

.hidden {
    visibility: hidden;
    size: 0;
    height: 0;
    width: 0;
}

.pseudo {
    position: fixed;
    left: calc(50vw - 150px);
    top: calc(35vh - 75px);
    width: 300px;
    height: 150px;
    border: rgb(19, 202, 12) 1px double;
    border-radius: 5px;
    background-color: rgb(41, 39, 39);
    z-index: 10;
}

.pseudo-input {
    overflow: hidden;
    outline-width: 0;
    margin-left: 22px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid rgb(19, 202, 12);
    width: 200px;
}

.alert {
    position: fixed;
    left: calc(50vw - 150px);
    top: calc(35vh - 75px);
    width: 300px;
    height: 150px;
    border: rgb(206, 104, 8) 1px double;
    border-radius: 5px;
    background-color: rgb(41, 39, 39);
    z-index: 10;
}

.alert-header {
    position: absolute;
    width: 75%;
    height: 45%;
    left: 12.5%;
}

.alert-text {
    margin: 0;
    color: white;
    font-family: Verdana;
    text-align: center;
    user-select: none;
}

.pseudo-text {
    margin: 0;
    margin-top: 5px;
    color: white;
    font-family: Verdana;
    text-align: center;
    user-select: none;
}

.pseudo-error {
    margin: 0;
    margin-top: 5px;
    color: red;
    font-family: Verdana;
    text-align: center;
    user-select: none;
}

.alert-header-type {
    margin-top: 35px;
}

.alert-icon {
    position: absolute;
    left: calc(50% - 17.5px);
    width: 30px;
    height: 30px;
    background-image: url("media/alert-icon.svg");
    filter: invert(37%) sepia(96%) saturate(1879%) hue-rotate(15deg) brightness(96%) contrast(94%);
}

.alert-content {
    position: absolute;
    top: 45%;
    width: 85%;
    left: 7.5%;
}

.alert-button {
    position: absolute;
    left: calc(50% - 37.5px);
    top: 100%;
    margin-top: 5px;
    width: 75px;
    height: 25px;
    background-color: rgb(41, 39, 39);
    border: rgb(206, 104, 8) 1px double;
    border-radius: 10px;
    cursor: pointer;
}

.pseudo-button {
    position: absolute;
    left: calc(50% - 37.5px);
    top: 100%;
    margin-top: 5px;
    width: 75px;
    height: 25px;
    background-color: rgb(41, 39, 39);
    border: rgb(19, 202, 12) 1px double;
    border-radius: 10px;
    cursor: pointer;
}

.button-text-alert {
    margin: 0;
    color: white;
    text-align: center;
    font-family: helvetica;
    padding-top: 4px;
    user-select: none;
}

.system-msg {
    margin: 0;
    margin-top: 5px;
    color: rgb(88, 87, 87);
    font-size: 16px;
    width: 100%;
    font-family: Helvetica;
    font-style: italic;
    text-align: center;
}

.system-msg-error {
    margin: 0;
    margin-top: 5px;
    color: #c23616;
    font-size: 16px;
    width: 100%;
    font-family: Helvetica;
    font-style: italic;
    text-align: center;
}

.system-msg-error>p,
.system-msg>p {
    margin: 0;
}

.classic-msg {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #07693081;
    min-height: 50px;
    border: 1px solid #035e21;
    border-radius: 3px;
}

.classic-msg-error {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #eb4e4b80;
    min-height: 50px;
    border: 2px solid #c23616;
    border-radius: 3px;
}

.msg-reload {
    background: url("media/refresh_icon.svg");
    filter: invert(21%) sepia(93%) saturate(4481%) hue-rotate(10deg) brightness(87%) contrast(83%);
    width: 25px;
    height: 25px;
    right: 10px;
    margin: 0;
    margin-top: -28px;
    display: flex;
    position: absolute;
    cursor: pointer;
}

.message-header {
    height: 25px;
    width: 99vw;
    position: absolute;
    display: inline;
    user-select: none;
}

.date {
    position: absolute;
    margin: 0;
    top: 4px;
    right: 13px;
    font-family: arial;
    font-size: 13px;
    color: rgb(66, 66, 66);
    user-select: none;
}

.author {
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: 4px;
    margin-left: 4px;
    font-family: Helvetica;
    user-select: none;
}

.message-content {
    padding-top: 25px;
    margin-left: 4px;
    margin-right: 4px;
}

.message {
    color: black;
    font-family: Verdana;
    font-size: 16px;
    width: 100%;
    padding-bottom: 4px;
    margin: 0;
    user-select: none;
    word-wrap: break-word;
}

.err-message {
    color: #c23616;
    font-family: Helvetica;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 4px;
    margin: 0;
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li {
    float: left;
    margin: auto;
    padding: 0;
    background-color: black;
}

#menu li a {
    display: block;
    width: 100px;
    height: 40px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

#menu li a:hover {
    color: blue;
}

#menu ul li ul {
    display: none;
}

#menu ul li:hover ul {
    display: block;
    transition: 1s;
}

#menu li:hover ul li {
    float: none;
}

#dark_theme {
    background-color: black;
    color: white;
    border-color: black;
}

#white_theme {
    background-color: black;
    color: white;
    border-color: black;
    padding: 5px;
}

#white_theme:hover,
#dark_theme:hover {
    color: blue;
}

#menu2 {
    margin-top: 12px;
    margin-bottom: 3px;
}

#users_online2 {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 0.25;
    margin-top: 2px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#users ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#users li {
    float: left;
    margin: auto;
    padding: 0;
    background-color: black;
}

#users li a {
    display: block;
    width: 135px;
    height: 40px;
    color: white;
    text-decoration: none;
    padding: 4px;
}

#users li a:hover {
    color: blue;
}

#users ul li ul {
    display: none;
}

#users ul li:hover ul {
    display: block;
    transition: 1s;
}

#users li:hover ul li {
    float: none;
}

.users-list {
    color: white;
    margin: 0;
    margin-top: 2px;
    font-family: Helvetica;
}

#cercle {
    position: absolute;
    top: 19px;
    float: left;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    border-radius: 20px;
    background: green;
}