<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porthub - Chat Sécurisé</title>
    <!-- Mettez à jour le chemin vers le fichier CSS -->
    <link rel="stylesheet" href="../static/assets/style.css">
    <link rel="stylesheet" href="../static/assets/styleConnexion.css">
    <link rel="scr" href="../static/assets/styleConnexion.css">
    <script src="../static/scripts/webscript.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <!-- Mettez à jour le chemin vers l'image -->
                    <img src="../static/assets/img/logo.jpg" alt="Logo de votre site">
                </a>
            </div>
            <nav class="nav">
                <a href="index.html">Accueil</a>
                <a href="/login">Connexion</a>
                <a href="info.html">Info</a>
            </nav>
            <div class="connexion">
                <button class="btn" id="logoutButton">Deconnexion</button>
            </div>
        </div>
    </header>
    <main>
        <div>
          <p>ZINZIN EST ADMIN</p>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Chat Sécurisé. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
