<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porthub - Chat Sécurisé</title>
    <!-- Mettez à jour le chemin vers le fichier CSS -->
    <link rel="stylesheet" href="../static/assets/style.css">
    <link rel="stylesheet" href="../static/assets/styleConnexion.css">
    <link rel="scr" href="../static/assets/styleConnexion.css">
</head>
<body>
    <script scr="../static/script/connexion.js"></script>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <!-- Mettez à jour le chemin vers l'image -->
                    <img src="../static/assets/img/logo.jpg" alt="Logo de votre site">
                </a>
            </div>
            <nav class="nav">
                <a href="index.html">Accueil</a>
                <a href="/login">Connexion</a>
                <a href="info.html">Info</a>
            </nav>
            <div class="connexion">
                <a href="/login" class="btn">Se connecter</a>
            </div>
        </div>
    </header>
    <main>
        <div class="OutterWrap">
            <div class="InnerWrap">
                <h2 class="labelLogin">Login</h2>
                <p class="textExplication">Enter your account details</p>
                <form class="loginForm" action="/logindb" method="POST">
                    <input name="username"  class="InputForm" type="text" placeholder="Username">
                    <input name="password" class="InputForm" type="password" placeholder="Password">
                    <!-- <a class="passwordForgot">Forgot Password ?</a> -->
                    <button class="loginButton" type="submit"><span class="textLoginbtn">Login</span></button>
                </form>
                <a href="register" class="signupLink">Don't have an account ? Sign Up</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Chat Sécurisé. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
