<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porthub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenue sur Porthub</h1>
        </header>
        <main>
            <h2>Chatroom Sécurisée Temporaire</h2>
            <p>Porthub est une plateforme de chat temporaire et sécurisé. Échangez des messages en toute confidentialité et en toute simplicité.</p>
        </main>
        <footer>
            <p>&copy; 2024 Porthub. Tous droits réservés.</p>
        </footer>
    </div>
</body>
</html>
