<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porthub - Chat Sécurisé</title>
    <!-- Mettez à jour le chemin vers le fichier CSS -->
    <link rel="stylesheet" href="../static/assets/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="../static/assets/img/logo.jpg" alt="Logo de votre site">
                </a>
            </div>
            <nav class="nav">
                <a href="index.html">Accueil</a>
                <a href="/login">Connexion</a>
                <a href="info.html">Info</a>
            </nav>
            <div class="connexion">
                <a href="/login" class="btn">Se connecter</a>
            </div>
        </div>
    </header>
    <main>
        <div class="centered-container">
            <section id="hero">
                <h1>Bienvenue sur Chat Sécurisé</h1>
                <p>Un endroit sûr pour discuter en toute confidentialité.</p>
            </section>
            <section id="features">
                <h2>Fonctionnalités</h2>
                <ul>
                    <li>Chiffrement de bout en bout</li>
                    <li>Salons de discussion privés</li>
                    <li>Messages qui s'autodétruisent</li>
                </ul>
            </section>
            <section id="about">
                <h2>À propos de nous</h2>
                <p>Chat Sécurisé s'engage à fournir un environnement de chat sécurisé et privé pour tous ses utilisateurs.</p>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Chat Sécurisé. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
