<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porthub - Chat Sécurisé</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/img/icon.png">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/style_panel.css">
    <script src="../static/scripts/webscript_config.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/">
                    <!-- Mettez à jour le chemin vers l'image -->
                    <img src="../static/assets/img/logo.png" alt="Logo de votre site">
                </a>
            </div>
            <nav class="nav">
                <a href="/">Accueil</a>
                <a href="/panel">Panel</a>
                <a href="/info">Info</a>
            </nav>
            <div class="connexion">
                <button class="btn" id="logoutButton">Deconnexion</button>
            </div>
        </div>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>alert("{{ message }}")</script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="centered-container">
            <h2>Créer une Configuration</h2>
            <form action="/create_config" method="POST">
                <div>
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" 
                           pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{5,}$" 
                           title="At least 5 characters and one number." 
                           required>
                </div>
                <div>
                    <label for="users_count">Nombre d'utilisateurs:</label>
                    <input type="number" id="users_count" name="users_count" min="2" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </form>
        </div>

        <!-- Tableau pour afficher les utilisateurs -->
        <table id="configTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Creation date</th>
                    <th>Password</th>
                    <th>Port</th>
                    <th>Users count</th>
                    <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
                </tr>
            </thead>
            <tbody>
                <!-- Boucle pour afficher chaque utilisateur -->
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.credit }}</td>
                    <td>{{ user.is_admin }}</td>
                    <td><button class="btnEdit">Modifier</button></td>
                    <td><button class="btnDelete">Supprimer</button></td>
                    <td><button class="btnCopy"><img src="../static/assets/img/copy_icon.png" alt="Copier"></button></td> <!-- Bouton de copie avec icône -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Chat Sécurisé. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
