<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porthub - Chat Sécurisé</title>
    <!-- Mettez à jour le chemin vers le fichier CSS -->
    <link rel="stylesheet" href="../static/assets/style.css">
    <link rel="stylesheet" href="../static/assets/styleConnexion.css">
    <script src="../static/scripts/register.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <!-- Mettez à jour le chemin vers l'image -->
                    <img src="../static/assets/img/logo.jpg" alt="Logo de votre site">
                </a>
            </div>
            <nav class="nav">
                <a href="index.html">Accueil</a>
                <a href="/login">Connexion</a>
                <a href="info.html">Info</a>
            </nav>
            <div class="connexion">
                <a href="/login" class="btn">Se connecter</a>
            </div>
        </div>
    </header>
    <main>
        <div class="OutterWrap">
            <div class="InnerWrap">
                <h2 class="labelLogin">Register</h2>
                <p class="textExplication">Enter your informations</p>
                <form class="loginForm" action="/registerdb" method="POST">
                    <input name="email" class="InputForm" type="text" placeholder="Email">
                    <input name="username" class="InputForm" type="text" placeholder="Username">
                    <div class="error-message" style="color: red;"></div> <!-- Ajout de l'élément pour afficher les messages d'erreur -->
                    <input name="password" class="InputForm" type="password" placeholder="Password">
                    <input name="confirmPassword" class="InputForm" type="password" placeholder="Confirm Password">
                    <button class="loginButton" type="submit"><span class="textLoginbtn">Register</span></button>
                </form>
                
                <a href="login" class="signupLink">Already registered ? Sign in</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Chat Sécurisé. Tous droits réservés. Made With PA$$ION</p>
        </div>
    </footer>
</body>
</html>
